In [16]:
import pandas as pd


data={'name':['naveen','naveen1','naveen2','naveen3','naveen4'],'age':[15,25,30,40,50]}

class2=pd.DataFrame(data,columns=['name','age'])
class2

      name  age
0   naveen   15
1  naveen1   25
2  naveen2   30
3  naveen3   40
4  naveen4   50

In [19]:
class2.mean()

age    32.0
dtype: float64

In [18]:
class2['age'].median()

30.0

In [17]:
class2['age'].mode()

0    15
1    25
2    30
3    40
4    50
dtype: int64